@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Tamma 2', cursive;
    line-height: 1.8rem
}

.container{
    background-color: #c9e6fb;
    min-height: 100vh;
    border:10px solid #2b2b95;
}
.content{
    /* background-color: green; */
    max-width: 60vw;
    min-height: 90vh;
    margin: 0 auto;
}

.head{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.img img{
    margin-top: 20px;
    width: 250px;
}

.name{
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    /* margin-top: 170px; */
}

#p2{
    font-weight: bold;
    text-align: end;
    font-size: large;
}

#p1{
    font-size: 12px;
}



.bottom ul li{
    font-size: 12px;
    margin-left: 30px;
}

#foot{
    margin-top: 20px;
    font-size: 13px;
    text-align: right;
}

#foot a{
    text-decoration: none;
    color: blue;
}